.logo-usla {
    margin-left: 23px !important;
    margin-right: 45px !important;
}

.nav-item-ulsa {
    padding: 8px 0 3px 0 !important;
    text-decoration: none;
    color: #000;
    margin-right: 68px;
    cursor: pointer;
}

.nav-item::before {
    content: "";
    width: 74px;
    height: 30px;
    background-color: transparent;
    position: absolute;
    top: 18px;
    z-index: 1;
}

.nav-item:hover .nav-item__menu {
    display: block;
}

.nav-item-ulsa:hover {
    color: #8b77f6 !important;
    border-bottom: 2px solid #8b77f6 !important
}

.nav-item__menu {
    width: 200px;
    top: 31px;
    left: -14px;
    border-radius: 8px;
    display: none;
    z-index: 1000;
}

.nav-item__menu li {
    list-style: none;
    padding: 8px 15px;
}

.nav-item__menu li:hover {
    background-color: #8b77f6;
}

.nav-item__menu li:hover:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.nav-item__menu li:hover:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.nav-item__menu li:hover a {
    color: #fff;
}


.nav-item__menu-item {
    text-decoration: none;
    color: #000;
    width: 100%;
}

.nav-item__menu-end {
    padding-bottom: 13px;
}

.shadow-ulsa {
    box-shadow: 0px 10px 15px #ebebeb;
}

.active-usla {
    color: #8b77f6 !important;
    border-bottom: 2px solid #8b77f6 !important
}

.swiper-ulsa {
    width: 100%;
    height: 700px;
}

.swiper-container {
    width: 100%;
    height: 100vh;
    /* Chiều cao là 100% của viewport height */
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.z-index-1000 {
    z-index: 1000;
}

.card-ulsa {
    border-radius: 17px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}

.container-note {
    max-width: 1350px !important;
    padding: 0 22px !important;
}

.note-ulsa {
    padding-top: 80px;
    background-color: #f5f3ff;
    padding-bottom: 46px;
}

.header-note {
    padding-right: 100px;
    margin-bottom: 65px;
}

.box-note {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 45px;
    height: 45px;
    background-color: #684df4;
}

.box-note-1 {
    width: 45px;
    height: 45px;
    z-index: 2;
    top: 27px;
    left: 18px;
    background-color: #4aaf52;
}

.all-block-note {
    margin-left: 95px;
    padding-top: 153px;
}

.block-small-note {
    border-radius: 17px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);    
    height: 180px;
    padding: 27px 0 22.5px 22.5px;
}

.block-small-note__first {
    margin-top: 45px;
}

.block-large-note {
    border-radius: 17px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);    
    height: 225px;
    margin-left: 12px;
    margin-right: 28px;
    margin-bottom: 41px;
    padding: 36px 0 0 27px;
}

.block-small-note__background{
    width: 45px;
    height: 45px;
    margin-bottom: 22.5px;
    border-radius: 5px;
}

.block-large-note__background{
    width: 58.5px;
    height: 58.5px;
    margin-bottom: 22.5px;
    border-radius: 5px;
}

.block-small-note__background img,
.block-large-note__background {
    padding: 9px;
}

.block-note__background-green {
    background-color: rgba(4, 170, 112, 0.17);
}

.block-note__background-yellow {
    background-color: rgba(255, 193, 7, 0.17);
}

.block-note__background-green-1 {
    background-color: rgba(53, 206, 161, 0.24);
}

.block-note__background-blue {
    background-color: rgba(127, 179, 250, 0.18);
    padding: 6px 5px 8px 0 !important;
}

.block-small-note__title{
    line-height: 1.3 !important;
}

.news-ulsa {
    padding-top: 54px;
}

.news-ulsa h1 {
    margin-left: 135px;
}

.container-news {
    margin-bottom: 31px;
}

.news-image {
    padding-left: 23px;
}

.content-news {
    margin-left: 635px;
    margin-right: 70px;
    top: 81px;
    left: 0;
    right: 0;
    bottom: 0;
}

.header-news {
    margin-bottom: 45px;
}

.blog-news {
    margin-bottom: 70px;
}

.card-news {
    border-radius: 14px;
}

.card-news__body {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
}

.card-news__first {
    margin-right: 13px;
}

.card-news__second {
    margin-right: 13px;
}

.card-news__body {
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    padding: 10px 17px 14px 17px;
}

.card-news__title {
    padding-bottom: 3px;
}

.btn-loadmore-news {
    background-color: rgba(104, 77, 244, 1);
    border-radius: 9px;
    outline: none;
    border: none;
    width: 100%;
    color: #fff;
    padding-top: 11px;
    line-height: 1.3;
    padding-bottom: 11px;
}

.btn-loadmore-news:hover{
    background-color: #c6bdff;
}

.introduce-ulsa {
    padding-top: 77px;
    background-color: #f5f3ff;
}

.introduce-header {
    margin-bottom: 18px;
}

.introduce-container {
    max-width: 1270px;
    margin: auto;
    padding-bottom: 140px;
}

.introduce-separate {
    border: 1px solid rgba(104, 77, 244, 1);
    margin-bottom: 36px;
}

.introduce-title {
    color: rgba(104, 77, 244, 1);
    margin-bottom: 41px;
}

.introduce-content {
    text-align: justify;
    margin-bottom: 32px;
    line-height: 1.4;
}

.introduce-button__loadmore {
    background-color: rgba(104, 77, 244, 1);
    border-radius: 17px;
    padding: 14px 32px;
    text-decoration: none;
    color: #fff;
}

.notification-container {
    max-width: 1270px;
    margin: auto;
    padding-top: 54px;
    padding-bottom: 85px;
}

.notification-separate {
    margin: 18px 0 41px 0;
    border: 1px solid rgba(104, 77, 244, 1);
}

.notification-even {
    margin-bottom: 54px;
}

.notification-odd {
    margin-right: 25px;
}

.notfication-list {
    margin-left: 86px;
}

.notification-item {
    color: rgba(104, 77, 244, 1);
    text-align: justify;
    line-height: 1.2;
    margin-bottom: 45px;
}

.introduce-lecture-ulsa {
    background-color: rgba(104, 77, 244, 1);
}

.introduce-lecture-ulsa__container {
    max-width: 1270px;
    margin: auto;
    padding-top: 32px;
    padding-bottom: 63px;
}

.introduce-lecture__header {
    margin-bottom: 18px;
}

.introduce-lecture__separate {
    border: 1px solid #fff;
    margin-bottom: 54px;
}

.introduce-lecture__image {
    width: 100% !important;
    height: 242px !important;
}

.introduce-lecture__body {
    margin-top: 27px;
}

.footer-ulsa {
    margin-top: 225px;
    border-top: 1px solid rgba(0, 0, 0, 0.47);
}

.footer-motto {
    width: 387px;
    margin-right: 81px;
}

.footer-container {
    max-width: 1250px;
    margin: auto;
    margin-top: 41px;
    margin-bottom: 76px;
}

.footer-motto__title {
    line-height: 1.5;
    text-align: justify;
}

.footer-contact {
    margin-top: 72px;
}

.footer-contact__header {
    color: rgba(104, 77, 244, 1);
    margin-bottom: 36px;
}

.footer-contact__item-icon {
    margin-right: 45px;
}

.detail-container {
    max-width: 1290px;
    padding-top: 81px;
    margin: auto;
}

.detail-left {
    width: 300px;
    margin-right: 36px;
}

.detail-option {
    background-color: rgba(104, 77, 244, 0.59);
    border-radius: 18px;
    border: 1px solid rgba(0, 0, 0, 0.28);
    margin-bottom: 41px;
}

.detail-option__header {
    padding: 22.5px 111.5px 14.5px 31.5px;
}

.detail-option__list li {
    list-style: none;
    padding: 13.5px 111.5px 18px 31.5px;
}

.detail-option__list li:hover {
    background-color: #fff;
}

.detail-option__list li:hover:last-child {
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}

.detail-option__list li:hover a{
    color: rgba(104, 77, 244, 0.59);
}

.detail-option__item {
    text-decoration: none;
    color: #fff;
}

.detail-hot-news {
    border: 1px solid rgba(0, 99, 156, 1);
    border-radius: 18px;
}

.detail-hot-news__header {
    margin-top: 18px;
    margin-bottom: 27px;
    color: rgba(104, 77, 244, 1);
}

.detail-hot-news__card {
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 27px;
}

.detail-hot-news__image {
    margin-right: 13px;
}

.detail-hot-news-title {
    text-align: justify;
}

.detail-right-header {
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.54), rgba(104, 77, 244, 0.66));
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 22px;
    border-radius: 13px;
    color: rgba(0, 0, 0, 1);
    width: 100%;
    margin-bottom: 36px;
}

.detail-right-author {
    color: #ccc;
}

.detail-right-content {
    text-align: justify;
}